table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #F2F2F2;
}

.t {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
.t th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
.t tr:nth-child(even) {
    background-color: rgb(205, 205, 220);
}
.t tr:hover {
    background-color: #E0F7FA;
}
.t th {
    background-color: #74428b;
    color: rgb(255, 255, 255);
}

.t {
    background-color: rgb(205, 205, 220);
}

.A {
    background-color:blueviolet;

}

h1{
    background-color: aqua;
    text-decoration: underline;
    text-align: center;
}